@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.columns-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.columns-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.columns-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
